Cleaning_iris_data.ipynb
Elbow_curve.ipynb
Hierarchical clustering.ipynb
Plot_clusters_iris_1.ipynb
Principal_component_analysis.ipynb
Trial_error_finding_centroids.ipynb
Untitled.ipynb
Using_elbow_curve.ipynb
.ipynb_checkpoints/Challenge-checkpoint.ipynb
.ipynb_checkpoints/Cleaning_iris_data-checkpoint.ipynb
.ipynb_checkpoints/Elbow_curve-checkpoint.ipynb
.ipynb_checkpoints/Hierarchical clustering-checkpoint.ipynb
.ipynb_checkpoints/Plot_clusters_iris_1-checkpoint.ipynb
.ipynb_checkpoints/Principal_component_analysis-checkpoint.ipynb
.ipynb_checkpoints/Trial_error_finding_centroids-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Using_elbow_curve-checkpoint.ipynb
Resources/crypto_data.csv
Resources/iris.csv
Resources/new_iris_data.csv
Resources/shopping_data_cleaned.csv
Resources/shopping_data.csv
